<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Fun Fit</title>
    <th:block th:include="~{/fragments/head}" />
</head>

<body>

        <th:block th:include="~{/fragments/header}"/>
<div class="container">
    <h2 class="text-center text-white">Search for workouts</h2>
    <form
            th:method="GET"
            th:action="@{/workouts/search}"
            th:object="${searchWorkoutModel}"
            class="form-inline"
            style="justify-content: center; margin-top: 50px;"
    >
        <div style="position: relative">
            <input
                    th:field="*{name}"
                    th:errorclass="is-invalid"
                    class="form-control mr-sm-2"
                    style="width: 280px;"
                    type="search"
                    placeholder="Workout name..."
                    aria-label="Search"
                    id="name"
            />
            <input
                    th:field="*{daysPerWeek}"
                    th:errorclass="is-invalid"
                    class="form-control mr-sm-2"
                    style="width: 280px;"
                    type="search"
                    placeholder="Days per week ..."
                    aria-label="Search"
                    id="daysPerWeek"
            />
            <select th:field="*{workoutLevel}" th:errorclass="is-invalid" name="workoutLevel" id="workoutLevel" class="form-control">
                <option value="">- Select a workout level -</option>
                <optgroup label="Workout level">
                    <option th:each="l : ${T(bg.softuni.funfit.model.enums.Level).values()}"
                            th:text="${l}"
                            th:value="${l}"
                            th:selected="${l} == *{workoutLevel}">
                        Level
                    </option>
                </optgroup>
            </select>
            <small
                    id="searchOfferHelpInline"
                    class="bg-danger text-light rounded invalid-feedback"
                    style="width: 97%; position: absolute; padding: 3px 15px; text-align: center;"
            >
                Try writing something this time.
            </small>
        </div>
        <button class="btn btn-outline-info my-2 my-sm-0" type="submit">Search</button>
    </form>
</div>

        <div class="container-fluid" th:each="workout : ${workouts}" th:object="${workout}">
            <h2 class="text-center text-white mt-5">Workouts</h2>
            <div class="offers row mx-auto d-flex flex-row justify-content-center">
                <div class="offer card col-sm-6 col-md-3  col-lg-2 m-1 p-0">
                    <div class="card-img-top-wrapper">
                        <img class="card-img-top" th:src="*{pictureURL}" alt="Workout image">
                    </div>
                    <div class="card-body pb-1">
                        <h5 class="card-title" th:text="*{name}">
                        </h5>
                    </div>
                    <ul class="offer-details list-group list-group-flush">
                        <li class="list-group-item">
                            <p class="card-text">Level: <th:block th:text="*{level}"></th:block></p>
                            <p class="card-text">Main goal: <th:block th:text="*{mainGoal}"></th:block></p>
                            <p class="card-text">Duration: <th:block th:text="*{duration}"></th:block> minutes</p>
                            <p class="card-text">Days per week: <th:block th:text="*{daysPerWeek}"></th:block></p>
                        </li>
                    </ul>
                    <div class="card-body">
                        <a class="card-link" th:href="@{/workouts/details/{id}(id=*{id})}">Details</a>
                    </div>
                </div>
            </div>
        </div>
        <h3 th:if="${workouts != null && workouts.size == 0}" class="text-info" style="text-align: center">There are no workouts with this specifications.</h3>


</body>
</html>
